@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;


}

body {
    overflow-x: hidden;

}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}

.navbar {
    background: #F2F2F2;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo {


    left: 20px;
    position: absolute;

}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: rgb(26, 25, 25);
    font-family: 'Audiowid';


}

.links {

    margin: 0 2rem;

}

li {
    list-style: none;
    display: inline-block;
}

ul li:hover {
    background: rgb(125, 124, 124);
}

li a {
    color: rgb(101, 100, 100);
    font-size: 18px;
    font-weight: bold;
    margin-right: 27px;
}

.section1 img {
    height: 517px;
    width: 100%;


}

.section1 h1 {
    position: absolute;
    height: 37px;
    width: 225px;
    padding-left: 80px;
    padding-top: 146px;
    top: 5%;
    font-size: 40px;
    font-family: "Audiowide", sans-serif;
}

.section2 {
    text-align: center;
    margin-bottom: 20px;

}

.section2 h2 {
    color: rgb(101, 100, 100);
    margin: 20px;
    font-size: 30px;

}



.card {

    display: inline-block;
    width: 350px;
    height: 600px;

    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}


.card .img-div {
    background-color: #F2F2F2;
}

.product-img {

    height: 400px;
    width: 300px;
    margin-bottom: 20px;
}

.card h3 {
    margin: 10px 0 5px 0;
}

.card p {

    max-width: 300px;
    margin-bottom: 20px;
    padding: 0 10px;
}

.tablets {

    text-align: center;
    margin-bottom: 20px;


}

.tablets h2 {

    color: rgb(101, 100, 100);
    margin: 20px;
    font-size: 30px;


}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.description {

    margin: 20px;
}

.description h3 {
    font-size: 35px;
    margin: 20px;
    font-family: "Audiowide", sans-serif;
}

.description p {

    font-size: 36px;
    max-width: 650px;
    font-family: "Baloo Bhaijaan 2", sans-serif;


}

.contact-us {

    text-align: center;
    margin-bottom: 20px;
}

.contact-us h2 {

    color: rgb(101, 100, 100);
    margin: 20px;
    font-size: 30px;

}

.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.map-container {
    flex: 1;

}

.form-div {
    flex: 1;
    font-size: 1rem;
}


form input {
    width: 592px;
    height: 56px;
    display: block;
    padding: 10px;
    margin: 10px;
}

form textarea {

    width: 592px;
    height: 204px;
    display: block;
    padding: 10px;
    margin: 10px;


}

.amaranth-bold-italic {
    font-family: "Amaranth", sans-serif;
    font-weight: 700;
    font-style: italic;
}

form button {
    background-color: #C6E4FF;
    width: 201px;
    height: 43px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

.form-div {
    padding-right: 0px;
    height: 500px;
    width: 700px;
}

footer {

    background-color: #F2F2F2;
    height: 250px;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: -1px;


}

.f-logo {

    font-size: 4rem;
    padding: 10px;
    color: rgb(26, 25, 25);
    font-family: "Audiowide", sans-serif;
    ;
}

footer p {

    position: absolute;
    right: 0;
    font-family: "Amaranth", sans-serif;
    font-size: 35px;
    margin: -10px;


}

.social {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.social a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;

}

.social a i {
    font-size: 80px;
    color: black;
}

.baloo-bhaijaan-2- {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
}

.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}






@media (min-width: 600px) and (max-width : 1024px) {

    body {
        overflow-x: hidden;
    }

    .navbar {
        text-decoration: underline;
    }

    ul li {
        display: inline;
        text-align: center;
    }

    .logo {

        top: 0.5rem;
        position: absolute;

    }

    .section2 {
        text-align: center;
        margin-bottom: 12px;
        width: 100%;

    }

    .section2 h2 {
        color: rgb(221, 101, 101);
        margin: 20px;
        font-size: 30px;

    }

    .card {

        display: inline-block;
        width: 200px;
        height: 500px;


    }


    .card .img-div {
        background-color: #ededed;
    }

    .product-img {

        height: 300px;
        width: 160px;

    }

    .card h3 {
        margin: 10px 0 5px 0;
    }

    .card p {

        max-width: 300px;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .products {
        flex-wrap: wrap;
    }


    form input {
        width: 500px;
        display: flex;
    }

    form button {
        background-color: rgb(255, 150, 150);
        border-radius: 50px;
    }

    .contacts {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .map-container {
        width: 80vw;
        margin: auto;

    }

    .form-div {
        width: 80vw;
        align-items: center;
        margin: auto;
    }

    form input {
        width: 80vw;
        height: 56px;
        display: block;
        padding: 10px;
        margin: 10px;
    }

    form textarea {

        width: 80vw;
        height: 204px;
        display: block;
        padding: 10px;
        margin: 10px;


    }

    footer {
        height: max-content;
        display: flex;
        flex-direction: column;
        background-color: gray;
    }

    .f-logo {
        font-size: 4rem;
    }

    .social a i {
        font-size: 3rem;
        color: black;
    }

    footer p {
        position: relative;
        padding: 15px;
        margin: auto;

        font-family: "Amaranth", sans-serif;
        font-size: 20px;
    }

}
@media(max-width:600px){
    body {
        overflow-x: hidden;
    }
    .logo{
        top: 7px;
        left:10px;
    }
    .logo a{
        
        font-size: 2em;
        
    }
    li a{
        font-size: 15px;
        text-align: center;
        margin: 5px;
        padding: 5px;

    }
    .products {
        flex-wrap: wrap;
        
    }
    .description p{
        font-size: 25px;
    }
    form input {
        width: 100px;
        display: flex;
    }
     .contacts {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .map-container {
        width: 80vw;
        margin: auto;

    }

    .form-div {
        width: 80vw;
        align-items: center;
        margin: auto;
    }

    form input {
        width: 80vw;
        height: 56px;
        display: block;
        padding: 10px;
        margin: 10px;
    }

    form textarea {

        width: 80vw;
        height: 204px;
        display: block;
        padding: 10px;
        margin: 10px;


    }

    footer {
        height: max-content;
        display: flex;
        flex-direction: column;
        background-color: f2f2f2;
    }

    .f-logo {
        font-size: 2rem;
    }

    .social a i {
        font-size: 3rem;
        color: black;
    }

    footer p {
        position: relative;
        padding: 2px;
        margin: auto;

        font-family: "Amaranth", sans-serif;
        font-size: 20px;
    }

   


}